@import url("https://fonts.googleapis.com/css2?family=Basic&family=M+PLUS+1:wght@100..900&display=swap");

#root {
  max-width: 1280px;
}

body {
  background-color: #050d24;
  color: whitesmoke;
  font-family: "M PLUS 1", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.hovered-div:hover h3 {
  color: #4fd1c5;
}

.line-animate {
  width: 90px;
  height: 2px;
  transition: width 0.5s;
}

.text-animate {
  color: white;
  transition: color 0.51s;
}
